In [ ]:
#importing data into jupyter notebook
import pandas as pd
import numpy as np
data=pd.read_csv("Salary_Data_Based_country_and_race.csv")
data.head()

In [ ]:
#SORTING THE DATA
#Formatting the headings of the variables to snake case heading
data.columns=data.columns.str.lower()

In [21]:
#DATA CLEANING
#checking for missing values
data.isnull()
#There are no missing values

#FORMATTING WRONG DATA

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
#Filtering out the data to keep only rows with gender as male or female

data=data[data["gender"].isin(["Male","Female"])]

#mean salary earned by each gender
gender_group = data.groupby('gender')
mean_salary_by_gender = gender_group['salary'].mean()
print(mean_salary_by_gender)

In [25]:
#Calculating the maximum and minimum salaries earned for each education level
new_group= data.groupby("education_level")
min_salaries = new_group["salary"].min()
max_salaries = new_group["salary"].max()

print("\nMinimum salary per education level:")
print(min_salaries)
print("\nMaximum salary per education level:")
print(max_salaries)

Minimum salary per education level:
education_level
Bachelor's Degree Degree Degree              350.0
Bachelor's Degree Degree Degree Degree       500.0
High School                                25000.0
Master's Degree                            40000.0
Master's Degree Degree                     32000.0
PhD                                          579.0
phD                                       120000.0
Name: salary, dtype: float64

Maximum salary per education level:
education_level
Bachelor's Degree Degree Degree           250000.0
Bachelor's Degree Degree Degree Degree    250000.0
High School                               166109.0
Master's Degree                           200000.0
Master's Degree Degree                    228000.0
PhD                                       250000.0
phD                                       120000.0
Name: salary, dtype: float64