In [7]:
#importing data into jupyter notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv("Salary_Data_Based_country_and_race.csv")
data.head()

#General information about the dataset
number_of_rows=data.shape[0]
number_of_columns=data.shape[1]
print(number_of_rows)
print(number_of_columns)

6704
9

In [43]:
#SORTING THE DATA
#Formatting the headings of the variables to snake case heading
data.columns=data.columns.str.lower()

In [44]:
#DATA CLEANING
#checking for missing values
data.isnull()
#There are no missing values

#FORMATTING WRONG DATA
data["education_level"]=data["education_level"].replace("Bachelor's","Bachelor's Degree")
data["education_level"]=data["education_level"].replace("Master's","Master's Degree")
data["education_level"]=data["education_level"].replace("phD","PhD")

In [45]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [46]:
#Filtering out the data to keep only rows with gender as male or female

data=data[data["gender"].isin(["Male","Female"])]

#mean salary earned by each gender
gender_group = data.groupby('gender')
mean_salary_by_gender = gender_group['salary'].mean()
print(mean_salary_by_gender)

gender
Female    107888.998672
Male      121389.870915
Name: salary, dtype: float64

In [47]:
#Calculating the maximum and minimum salaries earned for each education level
new_group= data.groupby("education_level")
min_salaries = new_group["salary"].min()
max_salaries = new_group["salary"].max()

print("\nMinimum salary per education level:")
print(min_salaries)
print("\nMaximum salary per education level:")
print(max_salaries)

Minimum salary per education level:
education_level
Bachelor's Degree      350.0
High School          25000.0
Master's Degree      32000.0
PhD                    579.0
Name: salary, dtype: float64

Maximum salary per education level:
education_level
Bachelor's Degree    250000.0
High School          165919.0
Master's Degree      228000.0
PhD                  250000.0
Name: salary, dtype: float64

In [5]:
#DATA VISUALIZATION
#Distribution of salary based on race using a bar chart

AttributeError: 'list' object has no attribute 'mean'